/*RESET STYLES */
*{
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana;
}

html{

}

body{

}

header{
  position: relative;
  font-weight: normal;
  margin: 0 auto;
}

header h1{
  font-weight: normal;
}

.wrapper{

}

.subtitle h3{
  color: aquamarine;
  font-size: 16px;
  font-weight: normal;
}

.iphone{

}

.travel{
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: column;
  width: 1000px;
  height: 700px;
  align-content: center;
}

.travel h2{
  font-weight: 300;
  font-size: 42px;
}

.travel h3{
  color: gray;
  font-size: 21px;
  font-weight: normal;
}

.travel img{
  margin: 0 auto;
  position: relative;
  align-content: center;
  width: 896px;
  height: 527px;
}

.cell img{
  margin: 0 auto;
  width: 64px;
  height: 108px;
  position: relative;
  top: 80px;
}

.preview{
  position: relative;
  top: 65px;
}

.preview h2{
  font-weight: 300;
  font-size: 42px;
}

.preview h3{
  color: aquamarine;
  font-size: 16px;
  font-weight: normal;
}

footer, h4{
  float: right;
  color: gray;
  position: relative;
  top: 30px;
  font-weight: normal;
}
